@page "/demineur"
@using global::Demineur
@using BlazorAnimate
@using Microsoft.AspNetCore.Components

<div class="game-grid">
    <div class="flag-number tooltip">
        <span class="tooltiptext">CTRL+Click to put a flag</span>
        <img src="Images/flag.png" />
        <text>@State.MineField.FlaggedCellCount</text>
    </div>
    <div class="bomb-number">
        <text>@State.MineField.BombCount</text>
        <img src="Images/bomb.png" />
    </div>
    <text class="level"> @(State.MineField.Fail ? "Boom !" : State.MineField.Win ? "Good job !" : "LEVEL " + State.Game.Level)</text>
    <div id="image-left" class="mine-sign" />
    <div id="image-right" class="mine-sign" />

    <div class="minefield">

        @if (State.MineField.Fail)
        {
            <ShowImage Src="Images/fail.jpg" OnButtonClick="State.Restart" ButtonText="RESTART" ButtonColor="red"></ShowImage>
        }
        else if (State.MineField.Win)
        {
            <ShowImage Src="Images/win.jpg" OnButtonClick="State.NextLevel" ButtonText="NEXT" ButtonColor="green"></ShowImage>
        }
        else
        {
            <CheckerBoard />
        }

        <BestPlayersTable />

        <RadzenButton Text="HELP" ButtonStyle="ButtonStyle.Secondary" Click="State.ShowHelp" Style="display: block; margin: 10px auto 0px auto; box-shadow: -1px 0px 10px 0px black;"></RadzenButton>
    </div>
</div>

@code {
    [CascadingParameter]
    private GlobalStateProvider State { get; set; }
}






