<div class="help">
    <ul>
        <li>On computer : Left click on a cell to reveal it, CTRL + click to put a flag on a cell</li>
        <li>On a phone  : Tap on a cell to reveal it, put a finger out of the minefield + tap on a cell to put a flag on it</li>
    </ul>
</div>

@code {

}
