@page "/"

<div class="root">
    <div class="container home-grid">
        <img class="home-img" src="Images/Home.jpg" />
        <h1 class="home-title">Démineur Online</h1>
        <a class="home-button" href="demineur">START</a>
        <a class="github-button" href="https://github.com/aboudoux/DemineurOnline">Contribute on GitHub</a>
    </div>
</div>

